<!--menu.html-->

<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Home
        </a>
      </div> 
    <ul class="nav navbar-nav">
        <li><a href="/atm/add">New ATM</a></li>
        <li><a href="https://github.com/rmenn">Fork</a></li>
    </ul>
  </div>
</nav>
